@model ProyectoMoya.Models.Categoria
@using ProyectoMoya.Models;
@helper MuestraCategorias(List<Categoria> lista){   
@*Lo que quiero hacer es poner un foreach para sacar las categorias*@
    <div class="panel-group category-products" id="accordian">
        @foreach (var element in lista)
        {
        <!--category-productsr-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">@element.Nombre</a></h4>
            </div>
        </div>
        }
    </div>
}
